body{
  font-family: Roboto;
}
h1{
  color: rgb(105, 169, 224);
}
.app-container {
  margin: 10px;
}
.app-paper {
  padding: 20px;
  margin-bottom: 10px;
}
.step4Container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.calculateButton{
  align-self: flex-end;
}